<%- partial('_partial/navigation') %>
<%- partial('_partial/hero-unit-category') %>
<div class="page-content page-content--index">
	<div class="page-content__block">
		<div class="page-content__article">
			<div class="articles-list">
				<% page.posts.each(function(post){ %>
					<%- partial('_partial/article-list-item', {post: post, latest: false, showCategory: false}) %>
				<% }); %>
			</div>

			<% if(page.total > 1) { %>
				<%- f_paginator({
					prev_text: "Previous",
					next_text: "Next",
					end_size: 2,
					mid_size: 4,
					class: 'text-center'
				}) %>
			<% } %>
		</div>
	</div>
</div>
<!--<%- partial('_partial/widgets/sticky-categories') %>-->

