<%- partial('_partial/navigation') %>
<%- partial('_partial/hero-unit-index') %>
<div class="page-content page-content--index">
	<div class="page-content__block">
		<div class="page-content__article">
			<div class="articles-list">
				<% site.categories.each(function(c) { %>
					<h4>Latest in <span class="articles-latest__category"><a href="<%- url_for(c.path) %>"><%- c.name %></a></span>:</h4>
					<% site.categories.findOne({name: c.name}).posts.sort('date', -1).limit(1).each(function(post) { %>
						<%- partial('_partial/article-list-item', {post: post, latest: true, showCategory: true}) %>
					<% }); %>
				<% }); %>
			</div>
		</div>
	</div>
</div>