<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="The Nodes Engineering blog is where we write about technical things and showcase our Open Source projects.">

  <%
  var title = page.title;

  if (is_archive()){
    title = 'Articles';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>

  <%
  var featured_image = page.featured_image || 'https://nodesagency.github.io/blog/img/logo.svg';
  %>

  <%
  var type = is_post() ? 'article' : 'website';
  %>

  <%
  var section = 'Uncategorized';
  if(is_post()) {
    page.categories.each(function(c, i) {
      if(i === 0) {
        section = c.name;
      }
    });
  }
  %>

  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta property="og:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>">
  <meta property="og:type" content="<%= type %>">
  <meta property="og:image" content="<%= featured_image %>">
  <meta property="og:url" content="<%= page.permalink %>">
  <meta property="og:site_name" content="<%= config.title %>">

  <% if(is_post()) { %>
    <% if(page.published) { %>
      <meta property="og:article:published_time" content="<%= page.date %>">
    <% } %>
    <% if(page.author) { %>
      <meta property="og:article:author" content="<%= page.author.name %>">
    <% } %>

    <meta property="og:article:section" content="<%= section %>">

    <% page.tags.each(function(t) { %>
      <meta property="og:article:tag" content="<%= t.name %>">
    <% }) %>
  <% } %>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@nodesdk">
  <meta name="twitter:title" content="<% if (title){ %><%= title %> | <% } %><%= config.title %>">
  <meta name="twitter:description" content="The Nodes Engineering blog is where we write about technical things and showcase our Open Source projects.">
  <meta property="twitter:image" content="<%= featured_image %>">


  <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>


  <link rel="icon" href="favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/img/touch/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/img/touch/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/img/touch/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/img/touch/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/img/touch/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/img/touch/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/img/touch/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/img/touch/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/touch/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/img/touch/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/touch/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/img/touch/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/touch/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">

  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <%- body %>

  <div class="toasts toasts--bottom toasts--left">
    <%- partial('_partial/widgets/sw-cache-expired-toast') %>
    <%- partial('_partial/widgets/sw-cached-toast') %>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-6201188-6', 'auto');
    ga('send', 'pageview');
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Noto Serif:400', 'Roboto Mono:400', 'Roboto:100,300,400,500']
      }
    })
  </script>
  <%- js('/js/app.min.js') %>

</body>
</html>