<header class="page-header">
	<div class="page-header__brand">
		<%- partial('_partial/brand') %>
	</div>
	<div class="page-header__navigation">
		<%- partial('_partial/navigation-site') %>
	</div>
</header>
<div class="article-header">

	<div class="article apply-typography">
		<div class="article-meta">
			<div class="article-meta__left">
				<% if(page.categories && page.categories.length > 0) { %>
				<div class="article-meta__category">
					<%- list_categories(page.categories, {
						show_count: false
					}) %>
				</div>
				<% } else { %>
				<div class="article-meta__category">
					Uncategorized
				</div>
				<% }%>

				<% if(page.readingTime) { %>
				<div class="seperator-line seperator-line--60"></div>
				<div class="article-meta__reading-time">
					<%- page.readingTime.text %>
				</div>
				<% } %>

			</div>
			<div class="article-meta__right">
				<% if(page.author) { %>
				<div class="article-meta__author">
					<% if(page.author.twitter) { %>
						<a href="https://www.twitter.com/<%- page.author.twitter %>" target="_blank">
							<%- page.author.name %>
						</a>
					<% } else { %>
						<%- page.author.name %>
					<% } %>
				</div>
				<% } %>

				<% if(page.author && page.date) { %>
				&nbsp;·&nbsp;
				<% } %>

				<% if(page.date) { %>
				<div class="article-meta__date">
					<%- page.date.format('MMMM Do YYYY') %>
				</div>
				<% } %>
			</div>
		</div>


		<div class="article__title">
			<h2>
				<%- page.title %>
			</h2>
		</div>
	</div>
</div>